node_modules
.expo
.expo-shared
dist
coverage
*.tsbuildinfo
.firebase
functions/lib
apps/admin/.next
apps/mobile/.expo
.env*
*-debug.log
artifacts/
test-results/
tests-results/
playwright-report/
expo*.log
firebase-export-*
logs/
